// COLORS
$text-color: #e1d798;
$text-shadow-color: #6ea171;
$background-color: #424756;
$highlight-color: #6ea171;

// MEDIA BREAKPOINTS
$breakpoint-small: 600px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;